[
  {
    "config_name": "Policy Scan Config",
    "branch_pattern": "master",
    "static_config": {
      "scan_type": "policy",
      "sandbox_name": "",
      "scan_naming": "timestamp",
      "upload_include_patterns": [
        ".*.php",
        ".*.module",
        ".*.inc",
        ".*.html",
        ".*.htm",
        ".*.profile",
        ".*.install",
        ".*.engine",
        ".*.theme",
        ".*.php4",
        ".*.php5",
        ".*.php7",
        ".*.phtml"
      ],
      "upload_exclude_patterns": [
      ]
    },
    "portfolio": {
      "app_name": "Test PHP"
    }
  },
  {
    "config_name": "Feature 1 Scan Config",
    "branch_pattern": ".*feature/1",
    "static_config": {
      "scan_type": "sandbox",
      "sandbox_name": "Feature 1",
      "scan_naming": "timestamp",
      "upload_include_patterns": [
        ".*.php",
        ".*.module",
        ".*.inc",
        ".*.html",
        ".*.htm",
        ".*.profile",
        ".*.install",
        ".*.engine",
        ".*.theme",
        ".*.php4",
        ".*.php5",
        ".*.php7",
        ".*.phtml"
      ],
      "upload_exclude_patterns": [
        
      ]
    },
    "portfolio": {
      "app_name": "Test PHP"
    }
  },
  {
    "config_name": "Feature 2 Scan Config",
    "branch_pattern": ".*feature/2",
    "static_config": {
      "scan_type": "sandbox",
      "sandbox_name": "Feature 2",
      "scan_naming": "timestamp",
      "upload_include_patterns": [
        ".*.php",
        ".*.module",
        ".*.inc",
        ".*.html",
        ".*.htm",
        ".*.profile",
        ".*.install",
        ".*.engine",
        ".*.theme",
        ".*.php4",
        ".*.php5",
        ".*.php7",
        ".*.phtml"
      ],
      "upload_exclude_patterns": [
      ]
    },
    "portfolio": {
      "app_name": "Test PHP"
    }
  }
]